<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeJ4LANXXePyRfBt3QvL1KqQDPwMfExB8</string>
	<key>GCM_SENDER_ID</key>
	<string>586156404078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecom.eCom</string>
	<key>PROJECT_ID</key>
	<string>shoppingapp-59c58</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppingapp-59c58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586156404078:ios:6c0c235d76732f03f3257f</string>
</dict>
</plist>